.inmuebles-container {
    margin-top: 1rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.loading-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.inmueble-card {
    width: 200px;
    cursor: pointer;
    place-self: center;
    margin-bottom: 3rem;
}

.inmueble-card .card-title {
    text-align: center;
}

.inmueble-card .card-footer {
    text-align: center;
    background-color: #0d6efd;
    font-weight: bold;
    color: white;
}

.inmueble-summary {
    text-align: center;
}

.inmueble-summary .title {
    font-size: xx-large;
    font-weight: bold;
}

.inmueble-summary .card-footer.precio {
    background-color: #0d6efd;
    font-weight: bold;
    color: white;
}

.home {
    text-align: center;
}

.home .integrantes {
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.inmuebles-search {
    flex-direction: column;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-content: center;
}

.filters-container .react-datepicker-wrapper {
    width: inherit;
}

.search-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.search-control input {
    font: inherit;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.search-control .react-select {
    font: inherit;
    border-radius: 4px;
    width: 15rem;
}

.perfil-card .footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.perfil-card .footer .submit {
  border: 1px solid #010b5a;
  background-color: #010b5a;
  color: white;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
.perfil-card .footer .submit:hover,
.perfil-card .footer .submit:active {
  background-color: #00359f;
}

.react-select {
    font: inherit;
    border-radius: 4px;
}

.react-select-label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.horario-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.horario-card .horario-delete-icon {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    cursor: pointer;
}